/* Topic Index Page */

.topics-index-pag .topic-list .nav > li > #test {
    position: relative;
    display: block;
    padding: 5px 14px;
    font-size: 0.9em;
}

.topics-index-pag .topic-list a {
    color: #444444;
}

.topics-index-pag .topic-list .meta {
    font-size: 0.9em;
    color: #b3b3b3;
}

.topics-index-pag .topic-list .meta a {
    color: #b3b3b3;
}

.topics-index-pag .topic-list .badge {
    background-color: #d8d8d8;
}

.topics-index-pag .topic-list hr {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #dcebf5;
}
